{% extends 'base.html' %}

{% block title %}    
QuarkMe | Contact Us
{% endblock %}

{% load staticfiles %}
{% block body %}
    <!-- HEADER-->
    <header>
        <div class="header-topbar">
            <div class="container">
                <div class="topbar-left pull-left">
                    <div class="email"><a href="#"><i class="topbar-icon fa fa-envelope-o"></i><span>contact@quarkme.com</span></a>
                    </div>
                </div>
                <div class="topbar-right pull-right">
                    <div class="socials"> &nbsp; &nbsp; &nbsp; <a href="www.fb.com/quarkmeofficial" class="facebook"><i class="fa fa-facebook"></i></a><a href="https://plus.google.com/u/3/117006724038614661062" class="google"><i class="fa fa-google-plus"></i></a><a href="https://twitter.com/QuarkMeOfficial" class="twitter"><i class="fa fa-twitter"></i><a href="https://www.instagram.com/quarkmeofficial/" class="twitter"><i class="fa fa-instagram"></i><a href="http://quarkme.blogspot.in" class="twitter"><i class="fa fa-sticky-note"></i></div>

                <div class="group-sign-in"><a href="login" class="login">Login</a><a href="student-registration" class="register">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main homepage-01">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-heade">
                        <div class="logo pull-left"><a href="/" class="header-logo"><img src="{% static 'images/logo-color-1.png' %}" alt style="width: 84px;
                            height: 50px;"/></a></div>
                        <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav class="navigation collapse navbar-collapse pull-right">
                        <ul class="nav-links nav navbar-nav">
                            <li><a href="/" class="main-menu">Home</a>
                            </li>
                            <li><a href="about" class="main-menu">About</a>
                            </li>
                            </li>
                            <li><a href="login" class="main-menu">Login</a>
                            </li>
                            <li><a href="student-registration" class="main-menu">Register</a>
                            </li>
                            <li><a href="tutor-registration" class="main-menu">Become a Tutor</a>
                            </li>
                            <li><a href="careers" class="main-menu">Careers</a>
                            </li>

                            <li><a href="faq" class="main-menu">FAQ</a>
                            </li>
                            <li><a href="#" class="main-menu">Contact</a>
                            </li>

                            <li><a href="how-it-works" class="main-menu">How It Works</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- WRAPPER-->
    <div id="wrapper-content">
        <!-- PAGE WRAPPER-->
        <div id="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <!-- CONTENT-->
                <div class="content">
                    <div class="section background-opacity page-title set-height-top">
                        <div class="container">
                            <div class="page-title-wrapper">
                                <!--.page-title-content-->
                                <h2 class="captions">Contact</h2>
                                <ol class="breadcrumb">
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li class="active"><a href="#">Contact</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="section nav-subscribe">
                        <div class="container">
                            <div class="nav-subscribe-wrapper">
                                <div class="nav-subscribe-left">
                                    <p class="subscribe-text">Get <b class="focus">in touch</b> with us</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="section section-padding contact-main">
                        <div class="container">
                            <div class="contact-main-wrapper">
                                <div class="row contact-method">
                                    <div class="col-md-4"> </div>

                                    <div class="col-md-4">
                                        <div class="method-item"><i class="fa fa-envelope"></i>

                                            <p class="sub">CONNECT TO</p>

                                            <div class="detail">
                                                <p>contact@quarkme.com</p>

                                                <p>www.quarkme.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BUTTON BACK TO TOP-->
        <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a>
        </div>
    </div>
{% endblock %}